/*
**  Created by king_ultron99
**  15/10/2020
*/

/* --------- Global Variables --------- */

:root {
    
    /*Text*/
    
    --txt-l: #000;
    --txt-d: #fff;
    --txt-a: #59b6a8;
    --txt-ad: #449aad;
    --txt-h: #5dbdb7;
    
    /*Background*/
    
    --bg-l: #fff;
    --bg-d: #1b1b1b;
    --bg-a: #3e817d;
    --bg-ad: #2a646d;
    --bg-h: #2b2b2b;
    --bg-ah: #59b6a8;
    --bg-t: #59b6a878;
    --bg-td: #a1f6ff1c;
    
    /*informative colours*/
    
    --scs: #2ecc71;
    --inf: #00B7FF;
    --wrn: #e67e22;
    --err: #e74c3c;

    /*transitions*/
    --ease: .2s ease;
    --linear: .2s linear;
}

/* --------- Base Styling --------- */

* {
    text-decoration: none;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--txt-l);
  text-decoration: none;
  transition: var(--ease);
}
a:hover {
    color: var(--txt-h);
}
/* --------- Misc Styling --------- */

.done {
    width: 100vw;
    z-index: 999;
    display: flex;
    height: 3.5rem;
    position: fixed;
    text-align: center;
    align-items: center;
    color: var(--txt-d);
    margin-top: -3.5rem;
    justify-content: center;
    transition: var(--linear);
    background-color: var(--scs);
}

.done.copied {
    margin-top: 3.5rem;
}

.goTop {
    margin-right: -5rem;
    right: 1rem;
    width: 40px;
    z-index: 999;
    bottom: 40px;
    height: 40px;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    position: fixed;
    border-radius: 6px;
    background: var(--bg-a);
    transition: var(--linear);
}

.goTop.active {
    margin-right: 0;
}

.dark {
    background: var(--bg-d);
    color: var(--txt-d);
}

/* --------- Navbar Styling --------- */

.navbar {
    z-index: 999;
    display: flex;
    height: 4rem;
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    padding-left: 1rem;
    align-items: center;
    transition: .2s linear;
    background-color: transparent;
}

.navbar-menu a {
    color: var(--txt-l);
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: var(--linear);
}

.navbar-menu a:hover {
    color: var(--txt-d);
}

.navbar-move .navbar-menu a:hover {
    color: var(--txt-h);
}

.nav-pfp {
    width: 30px;
}

/* --------- Menu-Toggler Styling --------- */

.menu-toggler {
    width: 40px;
    border: none;
    z-index: 999;
    display: none;
    outline: none;
    cursor: pointer;
    background: none;
    position: relative;
    margin-left: auto;
    margin-right: 2rem;
}

.menu-toggler span {
    height: 3px;
    margin: 6px 0;
    display: block;
    position: relative;
    background-color: var(--bg-l);
    transition: var(--linear);
}

/* --------- Navbar-Move styling --------- */

.navbar-move {
    background-color: var(--bg-l);
    height: 3.5rem;
    box-shadow: 0 0 20px #212121;
}

.navbar-move .menu-toggler span {
    background-color: var(--bg-d);
}

.navbar-move .navbar-menu a {
    color: var(--txt-l);
}

/* --------- Intro Styling --------- */

.intro {
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: none;
    background-position: top;
    background-size: cover;
    background-image: url("../assets/Paper Cut Contour.png");
}

.intro h1 > span::after {
    content: "Lochlan.";
    animation: textanim 5s linear infinite;
}

.button {
    z-index: 1;
    width: 110px;
    font-size: 14px;
    cursor: pointer;
    margin: 0px 10px;
    overflow: hidden;
    user-select: none;
    position: relative;
    border-radius: 6px;
    padding: 10px 20px;
    color: var(--txt-d);
    display: inline-block;
    transition: .3s linear;
    background: var(--bg-a);
}
  
.button::before {
    height: 0%;
    z-index: -1;
    content: "";
    width: 100%;
    left: 0;
    transition: .4s;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--txt-h);
}
.button::before {
    bottom: 0;
}
.button:hover::before {
    height: 100%;
}

.meee {
    color: var(--txt-a);
}

/* --------- About Styling --------- */

section {
    padding: 2rem;
    padding-bottom: 400px;
}

.title {
    margin-top: 200px;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 0;
    margin-right: 5rem;
    margin-left: 10rem;
}


.about-text {
    display: flex;
    flex-direction: column;
    margin: 0 5rem 0 5rem
}

.socials span {
    font-family: 'Lucida Grande',  Verdana, sans-serif;
    background-color: var(--bg-l);
}

.abt-social {
    transition: var(ease);
}

.socials .abt-social:hover {
    color: var(--txt-h);
}

.discord-tag::after {
    content: "#0647";
    z-index: -1;
    margin-left: -3rem;
    position: absolute;
    transition: var(--ease);
}

.discord-tag-hover:hover .discord-tag::after {
    margin-left: 0;
}

.discord-tag-hover {
    transition: var(--ease);
}

.discord-tag-hover:hover {
    margin-right: 3.5rem;
}

.socials i {
    margin-right: 1rem;
    cursor: pointer;
}

/* --------- Wave Styling ---------*/

.wave-container {
  transform: scaleY(-1);
  background-color: var(--bg-d);
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

/* --------- Repo Styling --------- */

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

.container a {
    width: 50%;
}

.repo {
    z-index: 0;
    margin: 5px;
    padding: 1rem;
    opacity: 100%; 
    overflow: hidden;
    user-select: none;
    position: relative;
    border-radius: 10px;
    align-items: center;
    transition: .4s ease;
    background-color: var(--bg-td);
}

.repo::before {
    content:"";
    top: -16px;
    width: 32px;
    z-index: -1;
    right: -16px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    transform: scale(1);
    transition: .3s linear;
    background: var(--bg-ah);
    transform-origin: 50% 50%;
}

.repo:hover::before {
    transform: scale(50);
}

.repo h1, .repo p {
    transition: .3s ease;
}

.repo h1 {
      color: var(--txt-h);
}

.repo:hover h1 {
    color: var(--txt-d);
}

.repo p {
    color: var(--txt-ad);
}

.repo:hover p {
    color: #f0f0f0;
}

.go-corner {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 0 5px 0 50%;
    top: 0;
    right: 0;
    background-color: var(--bg-ah);
}
  
.go-arrow {
    margin-left: 10px;
    margin-top: 5px;
    color: white;
}

/* --------- Animation Styling --------- */

@keyframes textanim {
    
    25% {
        content: "A Developer.";
    }
    
    50% {
        content: "A Designer.";
    }
    
    75% {
        content: "A 3D Artist."
    }
}

/* Waves */

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/* --------- Responsive styling ---------*/

@media screen and (max-width: 980px) {

    .go-arrow {
        margin-left: 0;
    }

    .container a {
        width: 100%;
    }

    .menu-toggler {
        display: block;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #1b1b1b;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }
    .navbar-menu a {
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }
    .navbar-move .navbar-menu {
        background-color: #fff;
        color: #000;
    }

    .navbar-menu.active {
        right: 0;
    }

    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    .intro h1 > span::after {
        content: "Lochlan.";
        color: var(--bg-ad);
    }

    section {
        text-align: center;
    }
    
    .profile {
        margin: 0;
    }
    
    .about-content {
        flex-direction: column;
        margin: 0;
    }
    
    .about-text {
        margin: 0;
    }
}
/*Wave Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
