:root {
    /*Text*/
    --txt-l: #000;
    --txt-d: #fff;
    --txt-a: #59b6a8;
    --txt-ad: #449aad;
    --txt-h: #5dbdb7;
    /*Background*/
    --bg-l: #fff;
    --bg-d: #1b1b1b;
    --bg-a: #3e817d;
    --bg-ad: #2a646d;
    --bg-h: #2b2b2b;
    --bg-ah: #59b6a8;
    /*informative colours*/
    --scs: #2ecc71;
    --inf: #00B7FF;
    --wrn: #e67e22;
    --err: #e74c3c;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-repeat: none;
  background-image: url("../assets/Paper Cut Contour.png");
}

.intro h1 > span::after {
  content: "Lochlan.";
  animation: textanim 5s linear infinite;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  background: var(--bg-a);
  color: var(--txt-d);
  margin: 0px 10px;
  font-size: 14px;
  transition: .3s linear;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  z-index: 0;
}

.button::before {
  content: "";
  position: absolute;
  left: -100px;
  width: 209%;
  height: 0%;
  background: var(--txt-h);
  transition: 0.4s;
  z-index: -1;
  transform: rotatez(45deg);
}
.button::before {
  bottom: 0;
}
.button:hover::before {
  height: 300%;
}

a {
  color: var(--txt-a);
  text-decoration: none;
  transition: .2 ease;
}

.navbar {
  display: flex;
  height: 3.5rem;
  position: fixed;
  padding-left: 1rem;
  align-items: center;
  width: 100vw;
  z-index: 2;
  transition: .2s linear;
} 

.navbar-move {
  background: #fcfcfc;
  box-shadow: 0px 0px 15px #2b2b2b;
}

.logo, .nav-item{
  display:flex;
  align-items: center;
  padding: 0 2rem 0 1rem ;
  user-select: none;
  cursor: pointer;
  height: 100%;
  transition: .2s ease;
}

.navbar-move .logo, .navbar-move .nav-item {
  padding: 0 1rem 0 1rem;
}

.logo {
  color: var(--txt-l);
}

.nav-item {
  color: var(--bg-h);
}

.navbar-move .nav-item {
  color: #1b1b1b;
}

.nav-pfp {
  width: 30px;
  border-radius: 50%;
  transition: .2s ease;
}


.nav-item:hover, .logo:hover {
  color: var(--txt-a);
}

section {
  padding: 2rem;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
}

.meee {
  color: var(--bg-ad);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.discord-tag {
  background: #fff;
  transition: .2s ease;
}

.discord-tag::after {
  content: '#0647';
  position: absolute;
  margin-left: -50px;
  margin-top: 3px;
  transition: .2s ease;
  background: none;
  z-index: -1;
  color: var(--txt-a);
}

.discord-tag-hover {
  transition: .2s ease;
}

.discord-tag-hover:hover {
  margin-right: 3rem;
  color: var(--txt-a);
}

.discord-tag-hover:hover .discord-tag::after {
  margin-left: 0;
}

.dark {
  color: var(--txt-d);
  background-color: var(--bg-d);
}

.repo {
  width: 25%;
  margin: 5px;
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
  transition: .4s ease;
  position: relative;
  background-color: #a1f6ff1c;
  z-index: 0;
  user-select: none;
  opacity: 100%;  
}

.repo::before {
  content:"";
  position: absolute;
  top: -16px;
  right: -16px;
  background: var(--bg-ah);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: .3s linear;
  z-index: -1;
}

.repo:hover::before {
  transform: scale(50);
}

.repo h1, .repo p {
  transition: .3s ease;
}

.repo:hover h1 {
  color: var(--txt-d);
}

.repo p {
  color: var(--txt-a);
}

.repo:hover p {
  color: #f0f0f0;
}

.go-corner {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 0 5px 0 50%;
  top: 0;
  right: 0;
  background-color: var(--bg-ah);

}

.go-arrow {
  margin-left: 10px;
  margin-top: 5px;
  color: white;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: center;
  border: #fafafa00 solid 2px;
  transition: .2s linear;
}

.avatar:hover {
  border: 2px solid #fafafa;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 0;
  margin-right: 5rem;
  margin-left: 10rem;
}

.about-content {
  display: flex;
}

.about-text {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
}

.abt-social {
  font-size: 20px;
  padding: 5px;
  transition: .2s linear;
  user-select: none;
}

.social-link, .social-link:visited {
  color: #000;
}

.abt-social:hover {
  color: var(--txt-a);
}

.social-txt {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about {
  height: 100vh;
  align-items: center;
}

.title {
  margin-top: 150px;
}

#repos {
  padding-bottom: 150px;
}

.wave-container {
  transform: scaleY(-1);
  background-color: var(--bg-d);
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}





/* Animations */

@keyframes textanim {
  
  25% {
      content: "a Developer.";
  }
  50% {
      content: "a Designer.";
  }
  75% {
      content: "a 3D artist";
  }
}
